* {
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	background-color: black;
}

#calculator {
	width: 800px;
	height: 400px;
	margin: auto;
    width: 50%;
}

#four {
	clear: both;
}

#one {
	clear: both;
}

#zero {
	clear: both;
}

#divide {
	width: 150px;
	height: 48px;
	line-height: 48px;
}

#times {
	width: 150px;
	height: 50px;
	line-height: 50px;
}

.numbers {
	width: 150px;
	height: 100px;
	border: 1px solid white;
	display: inline-block;
	font-size: 20px;
	line-height: 100px;
	float: left;
	background-color: black;
	color: white;
}

.numbers:hover {
	background-color: #222223;
}

#clear {
	background-color: #b82601;
}

#result {
	border: 1px solid white;
	font-size: 40px;
	width: 595px;
	height: 75px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 10px;
	line-height: 75px;
	text-align: right;
	padding-right: 11px;
	color: white;
}

#multdiv {
	width: 150px;
	height: 100px;
	display: inline-block;
	float: left;
}